// Propriétés Générales

*{
    box-sizing: border-box; 
    list-style: none;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


.loader_container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: #fff;
    opacity: 0.97;
    height: 100vh;
    z-index: 1;
    animation: loader 0.05s 2500ms forwards;
    transform-origin: top;
}

.loader_container .loader {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-bottom-color: $color-primary;
    animation: spin 2s linear infinite;
}

.loader_container .loader::before, .loader_container .loader::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 5px solid transparent;
}

.loader_container .loader::before {
    inset: 10px;
    border-bottom-color: $color-secondary;
    animation: spin 3s linear infinite;
}

.loader_container .loader::after {
    inset: 25px;
    border-bottom-color: $color-tertiary;
    animation: spin 1.5s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes loader{
    100% {
        transform: scale(0);
    }
}