/* Pied de page */
footer{
    background-color: $color-footer;
}

.textfooter{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 25px;
    padding-bottom: 20px;
}

h4{
    font-family: 'Shrikhand';
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}

footer li{
    padding-bottom: 10px;
}

.fa-solid{
    width: 25px;
}

